
.post-content pre {
  margin-top: 0;
  background: transparent !important;
  line-height: 1.7;
  border-radius: 4px;
}
.post-content pre code {
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
  white-space: inherit;
}
.post-content code {
  border-radius: 2px;
}

.post-content .highlight {
  margin-bottom: 32px;
  background: #f7f7f8;
  border-radius: 2px;
  overflow-x: auto;
}
.post-content .highlight table,
.post-content .highlight pre {
  margin-bottom: 0;
}
.post-content .highlight code {
  background: transparent;
}
.post-content .highlight table {
  width: auto;
}
.post-content .highlight table td {
  padding: 0;
  border-bottom: 0;
}
.post-content .highlight table td:first-child pre code {
  padding-right: 16px;
  color: var(--tertiary);
  text-align: right;
}
.post-content .highlight table td:last-child pre code {
  padding-left: 0;
  overflow: hidden;
}
.post-content .highlight .ln {
  margin-right: 16px;
  color: var(--tertiary);
}